* {
	box-sizing: border-box;
}

div {
	width: 300px;
	border-radius: 10px;
	background-color: #dbceb0;
	padding: 10px;
}




input[type=text], select {
	width: 80%;
	padding: 10px;
	margin: 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;

	
}

input[type=submit] {
	width: 100%;
	background-color: silver;
	border-radius: 20px;
	cursor: pointer;

}

input[type=submit]:hover {
	background-color: #45a049;
}


header {
	background-color: lightgray;
	padding: 100px;
	text-align: left;
	font-size: 50px;
	color: white;
	background-image: url("Background1.jpg");
	background-size: cover;
	background-position:center;
}

section {
	display: flex;
}

nav {

	flex: 1;
	//background: #f1f2f2;
	//background: #b7d7e8;
	border-radius: 30px;
	background: #cab577;


	padding: 20px;
}

nav ul {
	list-style-type: none;
}

article {
	flex: 6;
	//background-color: #f1f1f1;
	background-color: white;
	background-image: url("q8.jpg");
	padding: 20px;
	background-size: cover;
	background-position:bottom;
	color: black;
	//font-size: 20px;

}



section::after {
	display: table;
	clear: both;
}


footer {
	background-color: #7e4a35;
	padding: 15px;
	text-align: center;
	color: white;
}

@media (max-width: 600px) {
	section {
		flex-direction: column;
	}
}